<!DOCTYPE html>
<html>
<head>
    <title><%= name %></title>
    <script type="text/javascript">
        var APP_BUILD_DATE = "<%= new Date() %>";
    </script>
    
    <script type="text/javascript" src="<%= server %>/apps/<%= sdk %>/sdk-debug.js"></script>

    <script type="text/javascript">
        Rally.onReady(function() {
            Rally.loadScripts(<%= JSON.stringify(js_files) %>,
	            function() {
	                Rally.launchApp('<%= className %>', {
	                    name: '<%= name %>'
	                })
	            }, true);
        });
    </script>

<%= style_contents %>

</head>
<body></body>
</html>
